.root {
  display: "flex";
  flex-direction: "column";
  align-items: "stretch";
  justify-content: "center";
}

.title {
  margin: 0 0 24px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0.1px;

  color: #000000;
}

.input {
  margin-bottom: 14px;
}

.error {
  padding: 10px;
  min-height: 50px;
  box-sizing: border-box;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  color: #d32f2f;
}
