.root {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
}

.label {
  margin: 0;
  flex: 1;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 0.15px;

  color: #000000;

  .disabled & {
    color: #c4c3c3;
  }
}

.item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 0.15px;
  // text-transform: capitalize;

  color: #000000;
}

.select {
  width: 160px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.helperText {
  margin: 2px 0 0;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;

  color: #878787;

  &.error {
    color: #d32f2f;
  }
}
