.root {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.label {
  margin: 0 8px 0 0;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: #141414;
}

.track {
  width: 34px;
  height: 14px;

  border-radius: 99rem;
  background-color: rgba(236, 236, 236, 0.5);

  display: block;

  transition: all 0.3s ease-in-out;
  position: relative;
}

.thumb {
  width: 20px;
  height: 20px;

  border-radius: 50%;
  background: #ececec;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);

  position: absolute;
  top: 50%;
  left: 0;
  translate: -3px -50%;
  transition: all 0.3s ease-in-out;
}

.checked {
  .track {
    background-color: rgba(134, 189, 36, 0.5);
  }

  .thumb {
    background: #86bd24;
    left: 100%;

    translate: calc(-100% + 3px) -50%;
  }
}

.track:hover .thumb {
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24),
    0px 0px 0px 6px rgba(236, 236, 236, 0.4);
}

.disabled {
  .label {
    color: #c4c3c3;
  }

  .track {
    pointer-events: none;
    opacity: 0.4;
  }
}

.input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: inset(0 0 0 0);
  visibility: hidden;
}
