.root {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}

.title {
  padding: 6px 0;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1px;

  color: rgba(0, 0, 0, 0.55);

  position: sticky;
  top: 0;
}

.list {
  padding: 0 8px 0 0;
  margin: 0;

  list-style: none;
  overflow-y: auto;
  flex: 1;
}
