@keyframes lds_ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.ring {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;

  transition: all ease-in-out 0.5s;
  opacity: 0;
  visibility: hidden;

  &.visible {
    opacity: 1;
    visibility: visible;
  }

  span {
    margin: 10%;
    width: 80%;
    height: 80%;

    box-sizing: border-box;

    display: block;
    position: absolute;
    top: 0;
    left: 0;

    border: 2px solid #f1f3f5;
    border-radius: 50%;
    border-color: #f1f3f5 transparent transparent transparent;

    animation: lds_ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;

    &:nth-child(1) {
      animation-delay: -0.45s;
    }
    &:nth-child(2) {
      animation-delay: -0.3s;
    }
    &:nth-child(3) {
      animation-delay: -0.15s;
    }
  }
}
