.root {
  margin: 4px 0;
  padding: 16px;

  background: #f4f6f8;
  border-radius: 2px;

  display: flex;
  justify-content: stretch;
  align-items: flex-start;
}

.label {
  flex: 1;
  margin: 0;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 0.15px;

  color: #000000;
}

.value {
  flex: 2;
}

.single {
  margin: 0 0 0 12px;
  padding: 0 0 5px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.4px;
  text-transform: capitalize;

  color: rgba(0, 0, 0, 0.87);
  border-bottom: 1px solid #e8e8e8;
}

.list {
  margin: 0;
  padding: 0;
  max-height: 76px;

  list-style: none;

  overflow-y: auto;

  scrollbar-width: thin;
  scrollbar-color: #263238 #a6acb0;

  &::-webkit-scrollbar {
    width: 2px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 6px;
    background-color: #a6acb0;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: #263238;
  }
}

.item {
  margin: 0;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.15px;

  color: #000000;
}
