.root {
  margin: 0 auto;
  max-width: 1120px;
}

.heading {
  margin: 64px 0 100px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 49px;
  letter-spacing: 0.15px;

  color: #000000;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.article {
  flex: 1;
  min-height: 400px;

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.article_social {
  background-image: url("../../assets/images/bg-social.png");
}

.article_geological {
  background-image: url("../../assets/images/bg-geological.png");
}

.articleContent {
  max-width: 448px;
}

.line {
  margin: 4px 70px;
  width: 1px;
  min-height: 324px;

  background-color: rgba(0, 0, 0, 0.5);
}

.title {
  margin: 0;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  display: flex;
  align-items: center;
  letter-spacing: 0.15px;

  color: #000000;

  position: relative;

  &::before {
    content: "";
    width: 2px;
    height: 100%;

    position: absolute;
    top: 0;
    left: -14px;
  }

  &.title_social::before {
    background-color: #16a7e0;
  }

  &.title_geological::before {
    background-color: #86bd24;
  }
}

.info {
  margin: 10px 0;
  min-height: 60px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.15px;

  color: rgba(0, 0, 0, 0.5);
}

.name {
  margin: 0;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.15px;
  text-transform: uppercase;

  color: #000000;
}

.description {
  margin: 10px 0;
  min-height: 130px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
}

.link {
  margin: 0;
  padding-bottom: 4px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.15px;
  text-decoration: none;

  color: #000000;
  border-bottom: 1px dashed #000000;

  transition: all 0.5s ease-in-out;

  &:not(:last-child) {
    margin-right: 40px;
  }

  &:hover {
    opacity: 0.5;
  }
}

.link_light {
  font-weight: 300;
}
