.root {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.title {
  margin: 0;
  padding: 4px 20px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.15px;

  color: #000000;
  background: #f1f3f5;
}

.subtitle {
  margin: 20px 16px 12px;

  display: flex;
  align-items: center;

  > * {
    &:not(:last-child) {
      position: relative;
      margin-right: 24px;
      padding-right: 24px;
      &::after {
        content: "";
        background-color: #000000;
        width: 1px;
        height: 18px;
        display: block;
        position: absolute;
        top: 50%;
        right: 0;
        translate: 0 -50%;
      }
    }
  }
}

.text {
  margin: 0;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.15px;

  color: #000000;
}

.data {
  flex: 1;
  display: flex;
  justify-content: stretch;
  gap: 30px;
}

.chart {
  flex: 1;
}

.result {
  min-width: 200px;
  padding-inline: 32px;

  .item {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.15px;

    color: #000000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    .value {
      font-weight: 400;
    }
  }
}

.empty {
  margin: 12px 0;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;

  color: #878787;

  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
