aniso8601
asttokens
attrs
backcall
myst_parser
bcrypt
certifi
cffi
charset-normalizer
click
colorama
cryptography
cycler
decorator
executing
Flask
flask-accepts
Flask-Login
flask-restx
Flask-SQLAlchemy
fonttools
gmr
greenlet
idna

itsdangerous
jedi
Jinja2
joblib
jsonpickle
jsonschema
kiwisolver
MarkupSafe
marshmallow
matplotlib
matplotlib-inline
missingno


packaging

parso
patsy
pgmpy
pickleshare
Pillow
prompt-toolkit
pure-eval
pycparser
Pygments
PyJWT
pyparsing
pyrsistent
python-dateutil
pytz
pyvis
PyYAML
requests
scikit-learn
seaborn
six
SQLAlchemy
stack-data
statsmodels
threadpoolctl
torch
tqdm==4.64.0
traitlets==5.1.1
typing_extensions==4.1.1
urllib3==1.26.9
wcwidth==0.2.5
Werkzeug==2.1.1
pytest~=7.2.0
