.root {
  padding: 16px 0;

  &:not(:last-child) {
    border-bottom: 1px solid #f1f3f5;
  }

  .delete {
    color: #c4c4c4;

    &:hover {
      border-color: #000000;
      color: #000000;
    }
  }
}

.name {
  margin: 0;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.25px;

  color: #000000;
}

.text {
  margin: 0;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;

  color: #000000;
}

.delete {
  padding: 4px;
  border-radius: 5px;
  border: 1px solid #c4c4c4;

  justify-self: flex-start;
}
