.message {
  margin-left: 20px;
  min-height: 50px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.25px;

  color: #000000;
}
